<?xml version="1.0" encoding="UTF-8"?>
<web-app>
    <welcome-file-list>
        <welcome-file>index.html</welcome-file>
        <welcome-file>index.htm</welcome-file>
        <welcome-file>index.jsp</welcome-file>
        <welcome-file>Default.html</welcome-file>
        <welcome-file>Default.htm</welcome-file>
        <welcome-file>Default.jsp</welcome-file>
    </welcome-file-list>

    <context-param>
        <param-name>dbURL</param-name>
        <param-value>jdbc:mysql://1.12.68.118:3306/test2</param-value>
    </context-param>

    <resource-ref>
        <description>DB Connection</description>
        <res-ref-name>jdbc/calculatorDB</res-ref-name>
        <res-type>javax.sql.DataSource</res-type>
        <res-auth>Container</res-auth>
    </resource-ref>

    <context-param>
        <param-name>dbUser</param-name>
        <param-value>YanServer</param-value>
    </context-param>

    <context-param>
        <param-name>dbPassword</param-name>
        <param-value>123test</param-value>
    </context-param>

    <servlet>
        <servlet-name>CalculatorServlet</servlet-name>
        <servlet-class>com.mycalc.servlet.CalculatorServlet</servlet-class>
        <init-param>
            <param-name>fileEncoding</param-name>
            <param-value>UTF-8</param-value>
        </init-param>
    </servlet>

    <servlet-mapping>
        <servlet-name>CalculatorServlet</servlet-name>
        <url-pattern>/calculator</url-pattern>
    </servlet-mapping>

    <dependency>
        <groupId>net.objecthunter</groupId>
        <artifactId>exp4j</artifactId>
        <version>0.4.8</version>
    </dependency>

</web-app>

